<h1>Weekday Finder</h1>
<form action = '/results'>
  <label for "date">Give me a date</label>
  <input id="date" name="date" type="text" class = "form-control">
  <button type="submit" class="btn">Submit</button>
</form>
